# {{ ansible_managed }}

{% if mariadb_general_log_enabled %}
  general_log: 1;
  general_log_file={{ mariadb_general_log_path }}
  log_output=file
{% endif %}

{% if mariadb_slow_query_log_enabled %}
  slow_query_log: 1;
  slow_query_log_file={{ mariadb_slow_query_log_path }}
  log_output=file
{% endif %}

